*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Chillax Bold';
    src: url('../../../assets/font/Chillax-Bold.otf');
}

@font-face {
    font-family: 'Chillax';
    src: url('../../../assets/font/Chillax-Regular.otf');
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(white, rgb(227, 231, 242));
    width: auto;
    height: 50px;
    align-items: center;
    text-align: center;
}


.title{
    text-align: center;
    color: rgb(162, 132, 246);
    font-family: "Chillax Bold";
    flex: 1;
    cursor: pointer;
}

.container {
    color: rgb(162, 132, 246);
    font-family: 'Chillax';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 50px);
    background: radial-gradient(circle, rgb(227, 231, 242) 50%, rgb(162, 132, 246) 150%);
}

input{
    margin-top: 20px;
    width: 80%;
    max-width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    font-family: "Chillax";
    text-align: center;
}

input:focus {
    border-color: rgb(162, 132, 246);
    box-shadow: 0 0 5px rgb(162, 132, 246);
}

button{
    margin-top: 20px;
    width: 100px;
    color: white;
    font-family: "Chillax";
    background-color: rgb(162, 132, 246);
    border: solid 1px transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

button:hover {
    background-color: rgb(227, 231, 242);
    color: rgb(162, 132, 246);
    border: solid 1px rgb(162, 132, 246); 
    transition-delay: 0.1s;
}