@font-face {
    font-family: 'Chillax Bold';
    src: url('../../../assets/font/Chillax-Bold.otf');
}

@font-face {
    font-family: 'Chillax';
    src: url('../../../assets/font/Chillax-Regular.otf');
}

*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    flex-direction: row;
    background: linear-gradient(white, rgb(227, 231, 242));
    width: 100vw;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}


.title{
    color: rgb(162, 132, 246);
    font-family: "Chillax Bold";
    cursor: pointer;
}

.button_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    height: auto;
}

button{
    width: 100px;
    color: white;
    font-family: "Chillax";
    background-color: rgb(162, 132, 246);
    border: solid 1px transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

button:hover {
    background-color: rgb(227, 231, 242);
    color: rgb(162, 132, 246);
    border: solid 1px rgb(162, 132, 246); 
    transition-delay: 0.1s;
}

@media screen and (max-width:600px){

    .title{
        font-size: 20px;
    }

    button{
        /* margin-right: 20px; */
    }
}