
.home_container {
    display: flex;
    height: calc(100vh - 50px);
    width: 100vw;
    background: radial-gradient(circle, rgb(227, 231, 242) 20%, rgb(162, 132, 246) 100%);
}

.left_container, .right_container {
    flex: 1;
    background-color: brown;
}

.middle_container {
    gap: 15px;
    flex: 10;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.post_container {
    max-width: 250px;
    min-height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: white;
}

.post_container:hover {
    transform: scale(1.2);
}

.masonry-container {
  margin: 30px;
}

.masonry-item {
  margin-bottom: 20px;
}

.link {
    position: relative;
    margin-top: -10px;
    color: wheat
}

.post{
    max-width: 100px;
    max-height: 200px;
}