@font-face {
    font-family: 'Chillax';
    src: url('../../../assets/font/Chillax-Regular.otf');
}

body{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    width: 100%;
}

.side_container{
  flex: 1;
  background: linear-gradient(to left, white, rgb(162, 132, 246) 130%);
  border-left: solid 2px whitesmoke ;
  overflow-y: scroll;
}

.main_container{
  flex: 2.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background: linear-gradient(to right, white , rgb(162, 132, 246) 130% );
  margin-left: 15px;
  text-align: center;
}

.title{
  font-family: "Chillax";
}

.overlay_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: auto;
}

/* .overlay_div {
 width: 100%;
 margin-bottom: 10px;
 margin-top: 10px;
 break-inside: avoid;
}

.overlay {
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
} */

.overlay{
  background-color: rgb(227, 231, 242);
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;
  border-radius: 10px;
}

.overlay_arrow_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.arrow{
  width: 40px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.file_container{
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: auto;
}

.file {
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;
  background-color: transparent;
  border-radius: 10px;
}

.camera_container {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: auto;
}

.title_camera{
  font-family: "Chillax";
  margin-top: 66px;
}

.camera{
  height: 20vw;
  width: 30vw;
  /* height: 480px; */
  /* width: 640px; */
  min-width: 200px;
  min-height: 150px;
  background-color: rgb(227, 231, 242);
  border-radius: 10px;
}

.choice_container{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
}

.choice_box{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;
  border-radius: 10px;
  background-color: rgb(227, 231, 242);
  /* border: 3px solid rgb(162, 132, 246); */
}

.img_choice{
  min-height: 50px;
  height: 5vw;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img_choice:hover{
  height: 6vw;
  min-height: 60px;
}

.confirm_choice{
  height: 51px;
  width: 10vw;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.check{
  margin-top: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 40px;
  z-index: 1;
  cursor: pointer;
}

.result_container {
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result{
  border-radius: 10px;
  height: auto;
  width: 80%;
  min-width: 200px;
  min-height: 150px;
}

.zoomed {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.zoomed_input{
  padding: 20px;
  margin-top: 20px;
  width: 80%;
  height: 15%;
  border: 2px solid rgb(162, 132, 246);
  color: rgb(162, 132, 246);
  border-radius: 10px;
  font-family: 'Chillax';
  resize: none;
  outline: none;
}

.zoomed_container {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgb(227, 231, 242) 50%, rgb(162, 132, 246) 150%);
  height: 80%;
  width: 80%;
}

.zoomed_photo {
  border-radius: 10px;
  height: 50%;
  width: auto;
}

.zoomed_button{
    margin-top: 20px;
    font-family: "Chillax";
    height: auto;
    width: 110px;
    border: none;
    border-radius: 10px;
    background-color: rgb(162, 132, 246);
    font-size: 1.2em;
    color: rgb(227, 231, 242);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-family: 'Chillax Bold';
}

.zoomed_button:hover {
    background-color: rgb(227, 231, 242);
    color: rgb(162, 132, 246);
    border: solid 1px rgb(162, 132, 246); 
    transition-delay: 0.1s;
}

.quit{
  height: 50px;
  width: auto;
  cursor: pointer;
  margin-right: 20px;
}

.quit_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}













@media screen and (max-width: 1000px) {
    .main_container {
      margin-left: 1px;
      flex: 1.4;
      flex-direction: column;
    }

    .file_container{
      margin-top: 0px;
    }
}


@media screen and (max-width: 500px) {
.overlay{
  min-width: 150px;
  min-height: 100px;
}

.arrow{
  width: 20px;
}

.choice_box{
  min-width: 150px;
  min-height: 100px;
}

.img_choice{
  min-height: 40px;
}

.file_container{
  margin-top: 0px;
}
}