@font-face {
    font-family: 'Chillax';
    src: url('../../../assets/font/Chillax-Regular.otf');
}

body{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
    width: 100%;

}

.side_container{
  flex: 1;
  background: linear-gradient(to left, white, rgb(162, 132, 246) );
  border-left: solid 2px whitesmoke ;
}

.main_container{
  flex: 2.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  background: linear-gradient(to right, white, rgb(162, 132, 246) );
  margin-left: 15px;
  text-align: center;
}

.title{
  font-family: "Chillax";
}

.overlay_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: auto;
}

.overlay{
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;
  border-radius: 10px;
}

.overlay_arrow_container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
}

.arrow{
  width: 40px;
  height: auto;
  margin: 5px;
  cursor: pointer;
}

.camera_container {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
  height: auto;
}

.title_camera{
  font-family: "Chillax";
  margin-top: 66px;
}

.camera{
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;
  background-color: rgb(227, 231, 242);
  border-radius: 10px;
}

.choice_container{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35vw;
}

.choice_box{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 20vw;
  width: 30vw;
  min-width: 200px;
  min-height: 150px;;
  border-radius: 10px;
  background-color: rgb(227, 231, 242);
  /* border: 3px solid rgb(162, 132, 246); */
}

.img_choice{
  min-height: 50px;
  height: 5vw;
  width: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.img_choice:hover{
  height: 6vw;
  min-height: 60px;
}

.check{
  margin-top: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  height: 40px;
  z-index: 1;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .main_container {
      margin-left: 1px;
      flex: 1.4;
      flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
.overlay{
  min-width: 150px;
  min-height: 100px;
}

.arrow{
  width: 20px;
}

.choice_box{
  min-width: 150px;
  min-height: 100px;
}

.img_choice{
  min-height: 40px;
}
}