
@font-face {
    font-family: 'Chillax Bold';
    src: url('../../../assets/font/Chillax-Bold.otf');
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(white, rgb(227, 231, 242));
    width: auto;
    height: 50px;
    align-items: center;
    text-align: center;
}

.header_container{
    flex: 1;
}

.title_container{
    flex:4;
}

.logo{
    left: 5px;
    top: 5px;
    width: auto;
    height: 100px;
    cursor: pointer;
}

.title{
    text-align: center;
    color: rgb(162, 132, 246);
    font-family: "Chillax Bold";
    flex: 1;
}

.button_div{
    margin-left: 3%;
    padding-right: 3%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.logo{
    position: absolute;
    left: 5px;
    top: 5px;
    width: auto;
    height: 90px;
    cursor: pointer;
}

.header_button{
    height: auto;
    width: 110px;
    border: none;
    border-radius: 10px;
    background-color: rgb(162, 132, 246);
    font-size: 1.2em;
    color: rgb(227, 231, 242);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-family: 'Chillax Bold';
}

.header_button:hover {
    background-color: rgb(227, 231, 242);
    color: rgb(162, 132, 246);
    transition-delay: 0.1s;
}

.button_container{
    flex: 1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}

.icons {
    cursor: pointer;
    height: 20px;
    width: auto;
    transition: height 0.3s ease;
}
 
.icons:hover{
    height: 25px;
}

@media screen and (max-width: 320px) {
 
    .header_button{
        font-size: 1em;
        width: 100px;
    }

}

@media screen and (max-width: 450px) {
 
    .icons{
        transition: height 0.3s ease;
        height: 30px;
    }

    .icons:hover{
        height: 60px;
    }

}