
@font-face {
    font-family: 'Chillax Bold';
    src: url('../../../assets/font/Chillax-Bold.otf');
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(white, rgb(227, 231, 242));
    width: auto;
    height: 50px;
    align-items: center;
    text-align: center;
}


.title{
    text-align: center;
    color: rgb(162, 132, 246);
    font-family: "Chillax Bold";
    flex: 1;
}


